# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
*.egg-info/
.eggs/
*.egg

# IDEs
.idea/
.vscode/
.project
.classpath
.settings/

# Jupyter Notebooks
.ipynb_checkpoints/

# Streamlit
.streamlit/

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Dependency directories
node_modules/
